<h1>All Reviews</h1>

<% @reviews.each do |review| %>
<li><%= review.rating %> | <%= review.restaurant.name %> | <%= review.content%> | <%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %></li>
<% end %>

<%= link_to 'Back', restaurants_path %>
